@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
font-family: 'Tangerine', cursive;
}
body {
background: url('/images/heros.jpg');
background-repeat: no-repeat;
}
nav{
  position: absolute;
  top: 23px;
  right: 10%;
  font-family: 'Abel', sans-serif;
  font-size: large;
  background: rgb(0, 22, 8);
}
nav>ul li{
  display: inline-block;
  padding: 10px 30px;
  font-size: 1em;
  color: white;
  cursor: pointer;
}
.landing-pg{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15vh;
  min-height: 10vh;
  background: rgb(8, 22, 8);
  color: white;
  box-shadow: 0 0 10px rgba(255,255,255,0.4);
}
.landing-pg h2{
  z-index: 10;
	text-align: center;
	padding: 40px 0;
}
.landing-pg h2 a{
	background: green;
	color: white;
	border-radius: 20px;
}
.form-cont{
  position: relative;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10vh;
font-family: 'Tangerine', cursive;
}
.form-cont>div{
  background: rgba(255, 255, 255, 0.089);
  position: relative;
  height: 70%;
  text-align: center;
  padding-top: 40px;
}
.form-cont>div>a{
  display: inline-block;
  padding: 20px;
  background: rgb(23, 43, 23);
  color: white;
  width: 70%;
  left: 15%;
}

.form{
  position: relative;
  z-index: 3;
  width: 500px;
  margin-top: 15vh;

}
.form>h1{
  color: white;
  font-size: 2.3em;
}
.form>input[type=text],
.form>input[type=number]{
  background: none;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
  display: block;
  animation: formLd 1.2s linear 1;
  font-size: 1em;
}
.form>input[type=text]:nth-child(even){
	animation: formLd 0.8s linear 1;
}
@keyframes formLd{
	0%{width: 0%;border-color: green;box-shadow: 0px 2px 2px rgba(255,255,255,0.3);}
	100%{border-color: orange;box-shadow: 0px 2px 2px rgba(255,255,255,0.3);}
}

.form input[type=submit]{
  margin-top: 10px;
  background: rgb(17, 54, 17);
  width: 100%;
  padding: 5px;
  color: white;
  font-size: 20px
}
::placeholder{
  color: rgb(124, 122, 122);
}