@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
font-family: 'Tangerine', cursive;
}
a{
  text-decoration: none;
	color: inherit;
	display: inline-block;
}
.btns{
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px 20px;
font-family: 'Tangerine', cursive;
  border-radius: 20px;
  margin-top: 5px;

}
.btns:hover{
  background: rgb(0, 0, 0);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.24);
  color: white;
}
.btn-crimsom{
	background: crimsom;
	margin-top: 5px;
}
html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar,
 #newMember::-webkit-scrollbar{
  width: 5px;
  background-color: rgb(119, 119, 117);
}
body::-webkit-scrollbar-thumb,
 #newMember::-webkit-scrollbar-thumb{
  background-color: rgb(48, 116, 52);
  border-radius: 30px;
}

header{
  position: absolute;
  top: 0px;
  z-index: 100;
  width: 100%;

}
.nav-hr{
  border: 0.3px solid rgb(48, 116, 52);
  box-shadow: 0 0 5px rgb(115, 124, 110);
  position: absolute;
  width: 100%;
  top: 45px;
}